.nav-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
}
.nav-img{
    width: 7rem;
    margin-bottom: -4px;
}
.nav-cont-link a{
    color: black;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.nav-cont-search input{
    width: 100%;
}