

 .fondo{
        background-image: url('./assets/mascotas.jpg');
        height: 442px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0;
    }
    